@import url('https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Spartan', sans-serif;
}

h1 {
    font-size:50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color:#222;
}
h4 {
    font-size: 46px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #000000;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;


}button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #0a0101;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid;
    outline: none;
    transition: 0.2s;
}
body {
    width: 100%;
}

/*Header start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #131749;
    box-shadow: @ 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header {
    
}
#header .mobilee i{
    color: white;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.2s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(251, 251, 251);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(252, 252, 252);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
/*Home page*/
#hero{
    background-image: url("project1/coconut-palm-trees-tropical-background.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 15;
    padding: 250px 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #ffffff;
}
#hero button{
    background-image: url("project1/drawnbutton.png");
    background-color: transparent;
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features .fe-box{
    width: 250px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 20px 28px 30px rgba(0, 0, 0, 0.03);
    border: 1px solid #131749;
    margin: 20px 0;
}
#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1);

}#features .fe-box img{
    width: 100%;
    margin-bottom: 18px;
}
#features .fe-box h6{
    padding: 13px 16px 10px 16px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: #131749;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #131749;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin:  15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #131749;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #000000;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);

}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #131749;
}
#product1 .pro .fa-solid fa-cart-shopping{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#1ee1ef;
    font-weight: 500;
    color: rgb(17, 235, 243);
    border: 1px solid;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("project1/banner/b1.jpg");
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #ffffff;
    font-size: 16px;
}
#banner h2{
    color: #ffffff;
    font-size: 40px;
    padding: 10px 0;
}#banner h2 span{
    color: #ae0f0f;
}
#banner button:hover{
    background: #ae0f0f;
    color: #ffffff;
}#sm-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("project1/banners/b2.jpeg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 60px;
}#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("project1/banners/b10.jpeg");
    min-width: 600px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 60px;
}
#sm-banner .banner-box2{
    background-image: url("project1/banners/b10.jpeg");
    color: #ffffff;
    
}
#sm-banner h4{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}#sm-banner .banner-box2 h4{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
#sm-banner .banner-box2 h2{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;

}
#sm-banner span{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-bottom: 30px;
}
#sm-banner .banner-box2 span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-bottom: 30px;
}
#sm-banner .white:hover{
    background: #131749;
    border: 0;
    color: #ffffff;
}

#sm-banner .white2:hover{
    background: #ffffff;
    border: 0;
    color: #131749;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("project1/banners/b9.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
}
#banner3 .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("project1/banners/b1.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
}#banner3 .banner-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("project1/banners/b3.jpeg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 20px;
}
#banner3 .banner-box{
    color: #0026ff;
    font-weight: 900;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner3 .banner-box2 h4{
    color: #000000;
    font-weight: 900;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner3 .banner-box2 h5{
    color: #000000;
    font-weight: 900;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner3 h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}
#newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("project1/signup.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000000;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
#newsletter p span{
    font-size: 16px;
    font-weight: 600;
    color: #dccb14;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25cm;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;    
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;      
}
#newsletter button{
    background-color: #131749;
    color: #ffffff;
}
#footer .col2 p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 800px;
    padding-top: 10px;
    padding-bottom: 300px;
    background-color: #131749;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer.logo{
    margin-bottom: 50px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
/*shop page*/
#page-header{
    background-image: url(project1/banners/b6.jpeg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #131749;
    padding: 15px 20px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
}
/*Single product*/
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding: 30px;
}
#prodetails .single-pro-details{
    width: 300px
}
#prodetails .single-pro-details h4{
    padding: 20px 0 20px 0;
}

#prodetails .single-pro-details h2{
    padding: 20px 0 20px 0;
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: #131749;
    color: #ffffff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}




/* start media query*/
@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        font-size: 25px;
        top: 0;
        right: -500px;
        height: 175vh;
        width: 375px;
        background-color: #131749;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }#navbar .active {
        right: 0px;
    } 
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
}